<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDUi4eWcTi8LJN5Uxj-ht_3-3bLL7eEJ94</string>
	<key>GCM_SENDER_ID</key>
	<string>213582965017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoflutterapi</string>
	<key>PROJECT_ID</key>
	<string>as-dart-ulbra</string>
	<key>STORAGE_BUCKET</key>
	<string>as-dart-ulbra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213582965017:ios:18447ff8ffb589f32cbd88</string>
</dict>
</plist>